footer {
    background-color: #030391;
    color: #ffffff;
    height: 75px;
    width: 100%;
    padding: 10px;
    margin-top: auto;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
}

.footer-info {
    text-align: left;
    width: 50%;
    float: left;
}

.footer-uniLogo {
    width: 1cm;
    margin-right: 0.5cm;
    margin-bottom: 0cm;
    float: left;
}

.footer-link i {
    color: #ffffff;
    width: 0px;
    font-size: 20px;
}

.footer-uniName {
    text-align: left;
    margin: 0;
    display: inline-block;
}
.footer-contact {
    width: 50%;
    float: right;
}

.footer-uniAddress {
    margin: 0;
}

.footer-link {
    text-decoration: none;
    color: #eeeeee;
    width: 3cm;
    padding: 10px;
}

.footer-link-container {
    padding-top: 10px;
    width: 100%;
    text-align: right;
    
}

/* Ensure content starts below navbar */
body {
    margin-bottom: 75px;
}