<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Details</title>
</head>

<body>
    <h1>Admin Details</h1>
    <p>Name: [[${admin.adminName}]]</p>
    <p>ID: [[${admin.adminID}]]</p>
    <p>Username: [[${admin.username}]]</p>
    <p>Email: [[${admin.adminEmail}]]</p>
    <p>Address: [[${admin.adminAddress}]]</p>
    <p>Avatar: [[${admin.avatar}]]</p>
    <p>Page Number: [[${admin.pageNumber}]]</p>
</body>

</html>